.DS_Store
auto/
cc-by.pdf
conference-paper.aux
conference-paper.bbl
conference-paper.blg
conference-paper.log
conference-paper.out
conference-paper.pdf
conference-paper.synctex.gz
conference-paper.vtc
lipics-logo-bw.pdf
lipics-v2018-sample-article.bib
lipics-v2018-sample-article.fdb_latexmk
lipics-v2018-sample-article.fls
orcid.pdf
conference-paper.fdb_latexmk
conference-paper.fls

